@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?2d1d0s');
    src:  url('/fonts/icomoon.eot?2d1d0s#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?2d1d0s') format('truetype'),
    url('/fonts/icomoon.woff?2d1d0s') format('woff'),
    url('/fonts/icomoon.svg?2d1d0s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF !important;
}

.icon-th-large:before {
    content: "\f009";
    color: #444249;
}
.icon-lock:before {
    content: "\f023";
    color: #444249;
}

.selector:before {
    color: red;
}

.icon-cloud:before {
    content: "\f0c2";
    color: red;
}
.icon-bolt:before {
    content: "\f0e7";
    color: #444249;
}
.icon-flash:before {
    content: "\f0e7";
    color: yellow;
}
.icon-lightbulb-o:before {
    content: "\f0eb";
    color: #444249;
}
.icon-thermometer:before {
    content: "\f2c7";
    color: red;
}
.icon-thermometer-4:before {
    content: "\f2c7";
}
.icon-thermometer-full:before {
    content: "\f2c7";
}
.icon-fire:before {
    content: "\e9a9";
    color: #444249;
}

/* Welcome */



/* Home */

.bg-white {
    background-color: #FFF !important;
}

.navbar-light .navbar-brand {
    color: #189A00;
}

.navbar-light .navbar-nav .nav-link {
    color: #189A00;
}

.pb-4, .py-4 {
    padding: 0 !important;
}

.main-container {
    height: 465px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background: url('/img/background.jpg');
    background-size: cover;
    box-shadow: 0 0.125rem 0.25rem rgba(24, 154, 0, 5) !important;
}

.sub-container {
    display: flex;
    justify-content: space-evenly;
}

.sub-container .col-md-4 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.sub-container .col-md-4 i {
    font-size: 40px;
}

.sub-container .col-md-4 .icon-lock {
    font-size: 25px;
}

.overlay {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 154, 0);
    opacity: .9;
}

.col-md-4 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 25px 0 25px 0;
}

.sub-container {
    display: flex;
    justify-content: space-evenly;
}

.sub-container .col-md-4 {
    display: flex;
    justify-content: space-between;
    height: 225px;
    padding-top: 40px;
    padding-bottom: 0;
}

.col-md-4 p {
    font-size: 120px;
    color: #FFF;
    font-family: Helvetica, sans-serif;
}

.col-md-4 p i {
    font-size: 40px;
    position: absolute;
    margin-left: -25px;
    margin-top: 15px;
    opacity: .8;
}

.col-md-4 p .icon-cloud {
    margin-left: -45px;
}

.col-md-4 p .icon-flash {
    margin-left: -15px;
}

.Date {
    display: flex;
    width: 100%;
    font-size: 20px;
    color: white;
    margin-left: 160px;
    margin-top: 20px;
}

.temperature p::after {
    content: "°";
    font-size: 80px;
    position: absolute;
}

.air p::after {
    content: "%";
    font-size: 45px;
    position: absolute;
    padding-top: 30px;
}

.energy p::after {
    content: "kw";
    font-size: 45px;
    position: absolute;
    padding-top: 30px;
}

/* Slide Button */

html{
    height: 100%;
}

body{
    height: 100%;
}

#switch{
    top: 50%;
    left: 42%;
    width: 75px;
    height: 40px;
}

.toggle{
    position: absolute;
    border: 2px solid #444249;
    border-radius: 20px;
    -webkit-transition: border-color .6s  ease-out;
    transition: border-color .6s  ease-out;
    box-sizing: border-box;
}

.toggle.toggle-on{
    border-color: rgba(137, 194, 217, .4);
    -webkit-transition: all .5s .15s ease-out;
    transition: all .5s .15s ease-out;
}

.toggle-button{
    position: absolute;
    top: 4px;
    width: 28px;
    bottom: 4px;
    right: 39px;
    background-color: #FF6E6E;
    border-radius: 19px;
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button{
    top: 3px;
    width: 65px;
    bottom: 3px;
    right: 3px;
    border-radius: 23px;
    background-color: #81D134;
    box-shadow: 0 0 16px #81D134;
    -webkit-transition: all .2s .1s, right .1s;
    transition: all .2s .1s, right .1s;
}


.toggle-text-on{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */


    color: rgba(0,0,0,0);
}

.toggle-on .toggle-text-on{
    color: #3b6a7d;
    -webkit-transition: color .3s .15s ;
    transition: color .3s .15s ;
}

.toggle-text-off{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    cursor: pointer;

    color: #444249;
}

.toggle-on .toggle-text-off{
    color: rgba(0,0,0,0);
}

/* used for streak effect */
.glow-comp{
    position: absolute;
    opacity: 0;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, .1);
    box-shadow: 0 0 12px rgba(75, 122, 141, .2);
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp{
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}